<ul>
	<li><%= link_to 'Login with Twitter', '/auth/twitter' %></li>
	<li><%= link_to 'Login with Foursquare', '/auth/foursquare' %></li>
</ul>

<p>
	If you'd prefer to not use one of these services, <a href="/auth/identity/register">create an account</a> or <a href="/auth/identity">login</a>.
</p>