<h3>Drink Recipe Format</h3>

<p>
	Drink recipes must be specified in a particular format
	so that it can be properly understood by the system.
</p>

<h4>Example</h4>

<p class="recipe-example">
	1.5 oz Bourbon<br/>
	1 oz Campari<br/>
	0.75 oz Sweet Vermouth<br/>
</p>

<p class="recipe-example">
	Stir and strain into a cocktail glass. Garnish with an orange peel.
</p>

<p class="recipe-example">
	A classic variation on the Negroni with bourbon instead of gin.
</p>

<h4>Principles</h4>

<ul>
	<li>Paragraphs are separated by blank lines</li>
	<li>The first paragraph must contain the ingredients
		<ul>
			<li>Each ingredient must be on a separate line</li>
			<li>An amount for each ingredient is not required</li>
			<li>If an amount is specified, the number must be in decimal format followed by a unit of measure</li>
		</ul>
	</li>
	<li>The second paragraph must contain the preparation instructions
		<ul>
			<li>If a type of glass is specified, the type must be followed by the word "glass"</li>
			<li>If a garnish is specified, it must be specified after the words "Garnish with". "a" or "an" may be optionally included</li>
		</ul>
	</li>
	<li>The remaining paragraphs do not have a defined format, however all URLs included in the text will be automatically linked</li>
	<li>The source for the drink recipe should be cited and linked, if possible</li>
</ul>