<% if @query -%>
<h3>Searching for drinks: "<%= h(@query) %>"</h3>
<% else -%>
<h3>All Drinks</h3>
<% end -%>

<script>
	// see if we can get infinite scrolling to work on the drink list
	$(function () {
		$('.infinite-scroll').infinitescroll({navSelector: 'div.pagination', nextSelector: 'div.pagination a.next_page',itemSelector: 'table.infinite-scroll tr.item', debug: true});
	});
</script>

<table class="infinite-scroll">
  <tr><%= will_paginate @drinks %></tr>

  <tr>
    <th>Name</th>
    <th>Created By</th>
  </tr>

<% @drinks.each do |drink| %>
  <tr class="item">
    <td><%= link_to h(drink.name), drink %></td>
    <td><%=h drink.created_by %></td>
  </tr>
<% end %>
</table>
