<%= javascript_include_tag "location" %>

<ul data-role="listview" <% if !@query -%>data-autodividers="true"<% end -%>>
	<% @venues.each do |venue| %>
		<li><%= link_to venue.name, venue %></li>
	<% end %>
</ul>
