<p>
  <% if @image.drink -%>
  	<b>Drink:</b> <%=h @image.drink.name %>
  <% elsif @image.venue -%>
	<b>Venue:</b> <%=h @image.venue.name %>
  <% end -%>
</p>

<p>
  <%= image_tag @image.image_url.to_s %>
</p>
